.chatcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;

    :global {
        .chat-header {
            height: 60px;
            background-color: #2f3136;
            padding: 10px;
        }

        .chat {
            flex: 1;
            background-color: #36393f;
            padding: 10px;
            overflow-y: scroll;
        }

        // .chat-message {
        //     background-color: #7bc77a;
        //     margin-bottom: 10px;
        // }

        /* Add the following styles to ChatContainer.css */

        .chat-message {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .chat-avatar {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
        }

        .chat-text {
            background-color: #7bc77a;
            padding: 10px;
            border-radius: 5px;
            max-width: 80%;
            word-wrap: break-word;
        }

        // .chat-input {
        //     height: 60px;
        //     background-color: #40444b;
        //     padding: 10px;
        // }

        /* Add or modify the following styles in ChatContainer.css */
        .chat-input {
            display: flex;
            background-color: #40444b;
            padding: 10px;
        }

        .chat-input input {
            flex-grow: 1;
            border: none;
            border-radius: 0;
            padding: 10px;
            background-color: #40444b;
            color: white;
        }

        .chat-input button {
            background-color: #4b4c4d;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0 10px;
            cursor: pointer;
            border-radius: 3px;
        }

        .chat-input button:hover {
            background-color: #3a3b3c;
        }
    }
}