.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    height: 60px;
    background-color: #2f3136;
    padding: 10px;
}

.chat {
    flex: 1;
    background-color: #36393f;
    padding: 10px;
    overflow-y: scroll;
}

.chat-input {
    height: 60px;
    background-color: #40444b;
    padding: 10px;
}